<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理系统</title>
    <script src="vue3.js"></script>
    <script src="axios.min.js"></script>
    <script src="index.full.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-plus/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-plus/lib/index.full.js"></script>
    <script src="role.js"></script>

    <style>
        .header{
            background-color: #545c64;
        }
        .nav{
            background-color: #545c64;
        }
        .content{
            background-color: #fff;
        }
        #app{
            margin: 0px;
            padding: 0px;
            height: 100%;
            /*overflow: hidden;*/
        }
        .table{
            border: 1px solid #dbdbdb;
            margin: 15px 0px;
        }
        .deleteuser{
            float: right;
        }
        .exclusion_aside{
            padding-top: 20px;
        }

    </style>

</head>
<body id="app">
<el-container>

    <el-container>
        <el-aside>
            <el-menu
                    default-active="2"
                    class="el-menu-vertical-demo"
                    @open="handleOpen"
                    @close="handleClose"
                    @select="roleManage">
                <el-menu-item index="1">
                    <template #title>
                        <span>用户管理</span>
                    </template>
                </el-menu-item>

                <el-menu-item index="2">
                    <template #title>角色管理</template>
                </el-menu-item>

                <el-submenu index="3">
                    <template #title>权限管理</template>

                    <el-menu-item-group>
                        <el-menu-item index="3-1">
                            <template #title>权限组管理</template>
                        </el-menu-item>

                        <el-menu-item index="3-2">
                            <template #title>权限管理</template>
                        </el-menu-item>
                    </el-menu-item-group>

                </el-submenu>

                <el-menu-item index="4">
                    <template #title>菜单管理</template>
                </el-menu-item>

                <el-menu-item index="5">
                    <template #title>操作管理</template>
                </el-menu-item>

                <el-menu-item index="6">
                    <template #title>页面管理</template>
                </el-menu-item>
            </el-menu>
        </el-aside>

        <el-main class="content">
            <el-collapse v-model="activeNames" @change="handleChange">

                <el-collapse-item title="角色信息" name="1">
                    <el-button type="primary" @click="add">新增</el-button>
                    <el-table class="table"
                              :data="tableData"
                              stripe
                              style="width: 100%">
                        <el-table-column
                                prop="id"
                                label="角色ID"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="name"
                                label="角色名"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="code"
                                label="角色码">
                        </el-table-column>
                        <el-table-column
                                prop="createdTime"
                                label="创建时间">
                        </el-table-column>
                        <el-table-column
                                prop="maxCount"
                                label="最大使用人数">
                        </el-table-column>
                        <el-table-column
                                prop="useCount"
                                label="已使用人数">
                        </el-table-column>
                        <el-table-column
                                fixed="right"
                                label="操作"
                                width="150">
                            <template #default="scope">
                                <el-button @click="deleteRole(scope.row.id)" type="text" size="small">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-collapse-item>

                <el-collapse-item title="角色互斥信息" name="2">
                    <el-container>
                        <el-aside class="exclusion_aside">
                            <el-tree :data="exclusion_tree_data" :props="exclusion_Props" @node-click="handleNodeClickExclusion"></el-tree>
                        </el-aside>
                        <el-main>
                            <el-button type="primary" @click="add_exclusion">新增</el-button>
                            <el-table class="table_exclusion table"
                                      :data="table_Exclusion_Data"
                                      stripe
                                      style="width: 100%">
                                <el-table-column
                                        prop="id"
                                        label="角色ID"
                                        width="180">
                                </el-table-column>
                                <el-table-column
                                        prop="name"
                                        label="角色名"
                                        width="180">
                                </el-table-column>
                                <el-table-column
                                        prop="code"
                                        label="角色码">
                                </el-table-column>
                                <el-table-column
                                        fixed="right"
                                        label="操作"
                                        width="150">
                                    <template #default="scope">
                                        <el-button @click="exclusionDeleteRole(scope.row.id)" type="text" size="small">删除</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </el-main>
                    </el-container>
                </el-collapse-item>

                <el-collapse-item title="角色先决信息" name="3">
                    <el-container>
                        <el-aside class="exclusion_aside">
                            <el-tree :data="include_tree_data" :props="include_Props" @node-click="handleNodeClickInclude"></el-tree>
                        </el-aside>
                        <el-main>
                            <el-button type="primary" @click="add_include">新增</el-button>
                            <el-table class="table_exclusion table"
                                      :data="table_Include_Data"
                                      stripe
                                      style="width: 100%">
                                <el-table-column
                                        prop="id"
                                        label="角色ID"
                                        width="180">
                                </el-table-column>
                                <el-table-column
                                        prop="name"
                                        label="角色名"
                                        width="180">
                                </el-table-column>
                                <el-table-column
                                        prop="code"
                                        label="角色码">
                                </el-table-column>
                                <el-table-column
                                        fixed="right"
                                        label="操作"
                                        width="150">
                                    <template #default="scope">
                                        <el-button @click="includeDeleteRole(scope.row.id)" type="text" size="small">删除</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </el-main>
                    </el-container>
                </el-collapse-item>

                <el-collapse-item title="角色合并信息" name="4">
                    <el-container>
                        <el-aside class="merge_aside">
                            <el-tree :data="merge_tree_data" :props="merge_Props" @node-click="handleNodeClickMerge"></el-tree>
                        </el-aside>
                        <el-main>
                            <el-button type="primary" @click="add_merge">新增</el-button>
                            <el-table class="table_exclusion table"
                                      :data="table_Merge_Data"
                                      stripe
                                      style="width: 100%">
                                <el-table-column
                                        prop="id"
                                        label="角色ID"
                                        width="180">
                                </el-table-column>
                                <el-table-column
                                        prop="name"
                                        label="角色名"
                                        width="180">
                                </el-table-column>
                                <el-table-column
                                        prop="code"
                                        label="角色码">
                                </el-table-column>
                                <el-table-column
                                        fixed="right"
                                        label="操作"
                                        width="150">
                                    <template #default="scope">
                                        <el-button @click="mergeDeleteRole(scope.row.id)" type="text" size="small">删除</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </el-main>
                    </el-container>
                </el-collapse-item>
            </el-collapse>

        </el-main>

<!--        添加角色-->
        <el-dialog title="角色信息" v-model="dialogFormVisible">
            <el-form :model="form.addRoleData" :rules="rules" ref="form">
                <el-form-item label="角色名" :label-width="formLabelWidth" prop="name">
                    <el-input v-model="form.addRoleData.name" placeholder="请输入角色名" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="角色码" :label-width="formLabelWidth" prop="code">
                    <el-input v-model="form.addRoleData.code" placeholder="请输入角色码(例如ROLE_ADMIN)" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="最大使用人数" :label-width="formLabelWidth" prop="maxCount">
                    <el-input v-model.number="form.addRoleData.maxCount" placeholder="请输入该角色最大使用人数" autocomplete="off"></el-input>
                </el-form-item>

            </el-form>
<!--            <el-tree ref="userTree" v-if="treeShow" :data="treeData" :props="treeProps" node-key="id"-->
<!--                     @node-click="handleNodeClick"-->
<!--                     show-checkbox-->
<!--                     @check-change="handleNodeClick"-->
<!--            ></el-tree>-->
            <template #footer>
                <span class="dialog-footer">
                  <el-button @click="resetForm('form')">重 置</el-button>
                  <el-button type="primary" @click="roleConfirmClick('form')">确 定</el-button>
                </span>
            </template>
        </el-dialog>
<!--        添加角色组-->
        <el-dialog title="角色互斥组信息" v-model="exclusion_show">
            <el-form :model="exclusion_form.addExclusionGroupData" :rules="exclusion_rules" ref="exclusion_form">
                <el-form-item label="互斥角色组名" :label-width="formLabelWidth" prop="name">
                    <el-input v-model="exclusion_form.addExclusionGroupData.name" placeholder="请输入互斥角色组名" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="互斥角色组描述" :label-width="formLabelWidth" prop="description">
                    <el-input v-model="exclusion_form.addExclusionGroupData.description" placeholder="请输入互斥角色组描述" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="选择互斥角色" :label-width="formLabelWidth" prop="role">
                    <el-select v-model="exclusion_form.addExclusionGroupData.roleIds" multiple placeholder="请选择">
                        <el-option
                                v-for="item in tableData"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>

                <!--                <el-form-item label="选择数据权限" :label-width="formLabelWidth" prop="value">-->
                <!--                    <el-select v-model="form.value" placeholder="请选择数据权限" @change="treeCustomize">-->
                <!--                        <el-option-->
                <!--                                v-for="item in options"-->
                <!--                                :key="item.value"-->
                <!--                                :label="item.label"-->
                <!--                                :value="item.value"-->
                <!--                        >-->
                <!--                        </el-option>-->
                <!--                    </el-select>-->
                <!--                </el-form-item>-->

            </el-form>
            <el-tree ref="userTree" v-if="treeShow" :data="treeData" :props="treeProps" node-key="id"
                     @node-click="handleNodeClick"
                     show-checkbox
                     @check-change="handleNodeClick"
            ></el-tree>
            <template #footer>
                <span class="dialog-footer">
                  <el-button @click="exclusion_resetForm('exclusion_form')">重 置</el-button>
                  <el-button type="primary" @click="exclusion_roleConfirmClick('exclusion_form')">确 定</el-button>
                </span>
            </template>
        </el-dialog>

        <el-dialog title="角色先决组信息" v-model="include_show">
            <el-form :model="exclusion_form.addExclusionGroupData" :rules="exclusion_rules" ref="exclusion_form">
                <el-form-item label="互斥角色组名" :label-width="formLabelWidth" prop="name">
                    <el-input v-model="exclusion_form.addExclusionGroupData.name" placeholder="请输入先决角色组名" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="互斥角色组描述" :label-width="formLabelWidth" prop="description">
                    <el-input v-model="exclusion_form.addExclusionGroupData.description" placeholder="请输入互斥角色组描述" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="选择互斥角色" :label-width="formLabelWidth" prop="role">
                    <el-select v-model="exclusion_form.addExclusionGroupData.roleIds" multiple placeholder="请选择">
                        <el-option
                                v-for="item in tableData"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>

                <!--                <el-form-item label="选择数据权限" :label-width="formLabelWidth" prop="value">-->
                <!--                    <el-select v-model="form.value" placeholder="请选择数据权限" @change="treeCustomize">-->
                <!--                        <el-option-->
                <!--                                v-for="item in options"-->
                <!--                                :key="item.value"-->
                <!--                                :label="item.label"-->
                <!--                                :value="item.value"-->
                <!--                        >-->
                <!--                        </el-option>-->
                <!--                    </el-select>-->
                <!--                </el-form-item>-->

            </el-form>
            <el-tree ref="userTree" v-if="treeShow" :data="treeData" :props="treeProps" node-key="id"
                     @node-click="handleNodeClick"
                     show-checkbox
                     @check-change="handleNodeClick"
            ></el-tree>
            <template #footer>
                <span class="dialog-footer">
                  <el-button @click="exclusion_resetForm('exclusion_form')">重 置</el-button>
                  <el-button type="primary" @click="exclusion_roleConfirmClick('exclusion_form')">确 定</el-button>
                </span>
            </template>
        </el-dialog>

    </el-container>

</el-container>
<script>
    const app = Vue.createApp(data);
    app.use(ElementPlus)
    app.mount("#app");
</script>

</body>
</html>